/* Colores */
/* Colores */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap"); /* Weas Potentes */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* Weas Potentes */
/* Globales */
h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

p {
  font-size: 2rem;
}

body {
  margin: 0;
  font-size: 1.6rem;
  line-height: 2;
  font-family: "PT Sans", sans-serif;
}

img {
  max-width: 70%;
  height: auto;
  border-radius: 0.2rem;
}

/* Globales */
/* Utilidades */
.centrar-texto {
  text-align: center;
}

.centrar-imagen {
  text-align: center;
  margin: auto;
  max-width: 90%;
}

.separar {
  margin: 2rem 0 2rem 0;
}

.division-line {
  border-bottom: 0.2rem solid #e1e1e1;
  margin-bottom: 1rem;
}

.division-no-line {
  margin: 1.5rem;
}

/* Utilidades */
/* Animacion */
.navbar-nav li {
  position: relative;
}

.navbar-nav li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.navbar-nav li:hover::after {
  width: 100%;
}

/* Animacion */
/* Navegacion & Header */
header {
  background-image: url(../img/gb-nav.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 55rem;
}
header .header__texto h2,
header .header__texto p {
  color: #ffffff;
}
header .header__texto p {
  font-style: italic;
}

.contenedor {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  padding-bottom: 2rem;
  padding-top: 1rem;
}
.contenedor .contenedor__flex {
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
  flex-wrap: wrap;
}
.contenedor .contenedor__titulo span {
  font-weight: bold;
}
.contenedor .contenedor__navegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;
}
.contenedor span {
  font-weight: bold;
}

/* Navegacion & Header */
/* Animacioin de Links*/
/* Animacioin de Links*/
/* Footer */
footer {
  background-color: #141313;
}

/* Footer */
/* INDEX */
.test {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.test .contenido-principal {
  flex: 2 0 0;
}
.test aside {
  grid-column: 2/3;
}
.test .side {
  margin-bottom: 2rem;
}
.test .side__informacion-parrafo {
  margin: 1rem 0;
}

/* INDEX */
/* BOTON */
.boton {
  font-size: 1.8rem;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin-bottom: 2rem;
  padding: 1rem 3rem;
  border: none;
  border-radius: 1rem;
}

.boton-principal {
  background-color: #141313;
}

.boton-secundario {
  background-color: #7a4f3b;
  width: 50rem;
}

/* BOTON */
/* RECETA */
.receta {
  width: auto;
  margin-bottom: 30px;
}

.container-receta {
  display: grid;
  row-gap: 1.5rem;
}

/* RECETA */
/* FORMULARIO */
.formulario {
  background-color: #ffffff;
  margin: -5rem auto 0 auto;
  width: 95%;
  padding: 5rem;
}
.formulario .formulario__campo {
  display: flex;
  margin-bottom: 2rem;
  justify-content: center;
}
.formulario .campo__label {
  flex: 0 0 9rem;
  text-align: right;
  padding-right: 2rem;
}
.formulario .campo__input {
  flex: 1;
  border: 1px solid #e1e1e1;
}

/* FORMULARIO */
/* BLOG */
.pastor {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.pastor .pastor__img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.pastor .pastor__informacion {
  grid-column: 2/3;
}

.etiopia {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.etiopia .etiopia__img {
  grid-column: 2/3;
  width: 100%;
}
.etiopia .etiopia__img img {
  object-fit: cover;
}
.etiopia .etiopia__informacion {
  grid-column: 1/2;
  grid-row: 1/2;
}

.globalizacion {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.globalizacion .globalizacion__img {
  grid-column: 2/3;
}
.globalizacion .globalizacion__informacion {
  grid-column: 1/2;
  grid-row: 1/2;
}

.infusion {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.infusion .infusion__img {
  grid-column: 1/2;
}

/* BLOG */
/* CURSO */
.cursos {
  display: grid;
}

.tablet-contenido {
  display: grid;
  grid-template-rows: auto;
}

/* CURSO */
.recuadro {
  background-color: #e1e1e1;
  display: grid;
  grid-template-columns: 30% auto;
}
.recuadro .recuadro-img {
  text-align: center;
  margin: auto;
}

/* MODIFICACION BOOSTRAP*/
.nav-logo:hover {
  background-color: transparent !important;
  color: #fff !important;
}

.navbar-footer {
  display: flex;
}

.navbar-light .navbar-toggler-icon {
  border-radius: 2px;
}

.container-fluid {
  margin-top: 1.5rem;
}
.container-fluid .nav-link {
  color: #ffffff;
  font-size: 2rem;
}

span {
  font-weight: bold;
}

.navbar-nav > li > a:hover {
  background-color: transparent !important;
  color: #fff !important;
}

.navbar-brand h1 {
  color: #ffffff;
  font-size: 5rem;
}

.nav-item {
  margin: 0 1rem;
}

/* MODIFICACION BOOSTRAP*/
/* MEDIA SCREEN*/
@media (max-width: 992px) {
  .boton-principal,
  .boton-secundario {
    display: block;
  }
  .test {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "top top top" "mid mid mid";
  }
  .test .contenido-principal {
    grid-area: top/1/span 2/span 3;
  }
  .test .division {
    display: grid;
    grid-template-columns: auto;
  }
  .test .aside-mq {
    display: grid;
    grid-template-columns: auto auto;
  }
  .test .side {
    border: solid var(--gris) 0.5px;
    border-radius: 1rem;
    padding: 1rem;
  }
  .division--contenido {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
    row-gap: 0.5rem;
  }
  .division--contenido .ubicacion__img {
    grid-area: 1/1/2/3;
  }
  .division--contenido .ubicacion__inf {
    grid-area: 2/2/3/3;
  }
  .tablet {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .tablet .tablet__informacion {
    height: 2rem; /* Medio y no funka pero cumple la idea de reducirlo en lo maximo posible*/
    display: grid;
    grid-column: 2/3;
  }
  .tablet .tablet__informacion--parrafo {
    grid-area: 2/1/3/3;
  }
  .tablet .container-receta {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 576px) {
  .aside-mq {
    grid-template-areas: "top top top" "mid mid mid";
  }
  .interes-mq {
    grid-area: top/1/span 2/span 3;
  }
  .container-receta {
    display: grid;
    grid-template-columns: 1fr;
  }
  /* CURSO */
  .recuadro {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .recuadro .recuadro-img {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 1rem;
  }
  .recuadro .tablet__informacion {
    grid-column: 1/2;
  }
}
/* MEDIA SCREEN*/
/* MODIFICACION FINAL*/
.frase {
  font-size: 5rem;
}

.accordion-button,
.accordion-button:not(.collapsed) {
  background-color: #e1e1e1;
}

.custom-button {
  width: auto;
  height: auto;
}

.mod-img-receta {
  width: auto;
  height: auto;
}

.container-info-card {
  display: grid;
  grid-template-columns: 35% auto;
  align-items: center;
}

.tablet__informacion {
  display: grid;
  grid-template-rows: repeat(2, auto);
}
.tablet__informacion .tablet__informacion--parrafo {
  grid-row: 2/3;
}

/*# sourceMappingURL=style.css.map */
