@import "variables";
@import "fonts";

/* Weas Potentes */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
/* Weas Potentes */

/* Globales */

h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}

h1,
h2,
h3 {
  font-family: $fuente_heading;
  font-weight: bold;
  color: $negro;
}
p {
  font-size: 2rem;
}
body {
  margin: 0;
  font-size: 1.6rem;
  line-height: 2;
  font-family: $fuente_texto;
}
img {
  max-width: 70%;
  height: auto;
  border-radius: 0.2rem;
}
/* Globales */

/* Utilidades */
.centrar-texto {
  text-align: center;
}

.centrar-imagen {
  text-align: center;
  margin: auto;
}
.separar {
  margin: 2rem 0 2rem 0;
}
/* Utilidades */

/* Animacion */
.navbar-nav li {
  position: relative;
}

.navbar-nav li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.navbar-nav li:hover::after {
  width: 100%;
}

/* Animacion */

/* Navegacion & Header */

header {
  background-image: url(../img/gb-nav.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 55rem;

  .header__texto h2,
  .header__texto p {
    color: $blanco;
  }

  .header__texto p {
    font-style: italic;
  }
}

.contenedor {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  padding-bottom: 2rem;
  padding-top: 1rem;

  .contenedor__flex {
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
    flex-wrap: wrap;
  }

  .contenedor__titulo span {
    font-weight: bold;
  }

  .contenedor__navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
  }

  span {
    font-weight: bold;
  }
}

/* Navegacion & Header */

/* Animacioin de Links*/

/* Animacioin de Links*/

/* Footer */
footer {
  background-color: $negro-claro;
}
/* Footer */

/* INDEX */

.test {
  display: grid;
  grid-template-columns: 2fr 1fr;

  .contenido-principal {
    flex: 2 0 0;
  }

  aside {
    grid-column: 2/3;
  }

  .side {
    margin-bottom: 2rem;
  }

  .side__informacion-parrafo {
    margin: 1rem 0;
  }
}
/* INDEX */

/* BOTON */

.boton {
  font-size: 1.8rem;
  color: $blanco;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin-bottom: 2rem;
  padding: 1rem 3rem;
  border: none;
  border-radius: 1rem;
}
.boton-principal {
  background-color: $negro-claro;
}

.boton-secundario {
  background-color: $marron-claro;
}
/* BOTON */

/* RECETA */
.receta {
  width: auto;
  margin-bottom: 30px;
}
.container-receta {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* RECETA */

/* FORMULARIO */
.formulario {
  background-color: $blanco;
  margin: -5rem auto 0 auto;
  width: 95%;
  padding: 5rem;

  .formulario__campo {
    display: flex;
    margin-bottom: 2rem;
  }

  .campo__label {
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 2rem;
  }

  .campo__input {
    flex: 1;
    border: 1px solid $gris;
  }
}
/* FORMULARIO */

/* BLOG */
.pastor {
  display: grid;
  grid-template-columns: 1fr 2fr;

  .pastor__img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  .pastor__informacion {
    grid-column: 2/3;
  }
}

.etiopia {
  display: grid;
  grid-template-columns: 2fr 1fr;

  .etiopia__img {
    grid-column: 2/3;
    width: 100%;
  }

  .etiopia__img img {
    object-fit: cover;
  }

  .etiopia__informacion {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.globalizacion {
  display: grid;
  grid-template-columns: 2fr 1fr;

  .globalizacion__img {
    grid-column: 2/3;
  }

  .globalizacion__informacion {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.infusion {
  display: grid;
  grid-template-columns: 1fr 2fr;

  .infusion__img {
    grid-column: 1/2;
  }
}
/* BLOG */

/* CURSO */
.cursos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}
/* CURSO */

/* MODIFICACION BOOSTRAP*/

.nav-logo:hover {
  background-color: transparent !important;
  color: #fff !important;
}

.navbar-footer {
  display: flex;
}

.navbar-light .navbar-toggler-icon {
  border-radius: 2px;
}

.container-fluid {
  margin-top: 1.5rem;
  .nav-link {
    color: $blanco;
    font-size: 2rem;
  }
}

span {
  font-weight: bold;
}

.navbar-nav > li > a:hover {
  background-color: transparent !important;
  color: #fff !important;
}

.navbar-brand {
  h1 {
    color: $blanco;
    font-size: 5rem;
  }
}

.nav-item {
  margin: 0 1rem;
}
/* MODIFICACION BOOSTRAP*/

/* MEDIA SCREEN*/

@media (max-width: 992px) {
  .boton-principal,
  .boton-secundario {
    display: block;
  }
  .test {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "top top top"
      "mid mid mid";

    .contenido-principal {
      grid-area: top / 1 / span 2 / span 3;
    }
    .division {
      display: grid;
      grid-template-columns: auto;
    }

    .aside-mq {
      display: grid;
      grid-template-columns: auto auto;
    }

    .side {
      border: solid var(--gris) 0.5px;
      border-radius: 1rem;
      padding: 1rem;
    }
  }

  .division--contenido {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
    row-gap: 0.5rem;

    .ubicacion__img {
      grid-area: 1 / 1 / 2 /3;
    }
    .ubicacion__inf {
      grid-area: 2 / 2 / 3 /3;
    }
  }

  .tablet {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);

    .tablet-contenido {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    .tablet__informacion {
      height: 2rem; /* Medio y no funka pero cumple la idea de reducirlo en lo maximo posible*/
    }

    .tablet__informacion--parrafo {
      grid-area: 2/1/3/3;
    }

    .container-receta {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 576px) {
  .aside-mq {
    grid-template-areas:
      "top top top"
      "mid mid mid";
  }
  .interes-mq {
    grid-area: top / 1 / span 2 / span 3;
  }

  .container-receta {
    display: grid;
    grid-template-columns: 1fr;
  }

  .tablet {
    align-content: start;
    .tablet-contenido {
      grid-template-columns: 1fr;
      grid-template-rows: auto 0.25fr 1fr;
      row-gap: 0.5rem;
    }
    .centrar-imagen {
      grid-row: 1;
    }
    .tablet__informacion {
      grid-row: 2;
    }
    .tablet__informacion--parrafo {
      grid-row: 3;
    }
  }
}
/* MEDIA SCREEN*/
